body {
    margin-left: 420px;
    margin-top: 300px;
    background: darkturquoise;
    color:whitesmoke;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
  }
#up{
  font-size: 50px;
}
