body {
    margin-left: 450px;
    margin-top: 300px;
    background: darkturquoise;
    color: black;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
  }
#up{
  font-size: 50px;
  font-style: oblique;
}